{#
/**
 * @file banner_block_banner.html.twig
 * Default theme implementation to present Banner block banner data.
 *
 * This template is used when viewing Banner block banner pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_banner_block_banner()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('banner_block_banner') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
